*{
    margin: 0;
    padding: 0;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content1{
    padding-top: 10vh;
}
.content-03{
    margin: 90px;
    height: 639px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    
    
    
}

.navigation{
    margin: 100px;
    position: absolute;
    bottom: -130px;
    left: 45%;
    transform: translate(-50%);
    display:flex;
}

.bar{
    width: 90px;
    height: 25px;
    border: 3px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.bar:hover{
    background-color: white;
}

input{
    display: none;
}
.produtos__produto photo photo2{
    display: flex;
    width: 500%;
    height: 100%;
}

.produtos__produto photo photo2{
    width: 20%;
    transition: .6s;
}

.slide photo photo2{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -200%;
}



